@charset "UTF-8";

a {
  text-decoration: none;
}

header {
  background-color: tomato;
}

.header_list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
}

.header_list ul li a {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.top {
  background: url(img/top1.jpg) no-repeat center;
  background-size: cover;
  height: 800px;
  margin-bottom: 100px;
}

.top_ttl {
  font-size: 50px;
  font-weight: 600;
  color: white;
  letter-spacing: 5px;
  padding: 20px;
  background-color: rgba(11, 11, 11, 0.5);
  display: inline-block;
  position: absolute;
  margin: 250px 200px 0;
}

#lineup {
  margin-bottom: 100px;
}

.section_ttl {
  font-size: 35px;
  color: tomato;
  text-align: center;
  margin-bottom: 60px;
}

.lineup_all {
  display: flex;
  justify-content: space-between;
} 

.lineup_wrap {
  width: 25%;
  background-color: tomato;
  height: 100%;
  margin: 30px;
  padding: 20px;
  color: white;
}

.lineup_img1 {
  background: url(img/menu1.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.lineup_txt1 {
  line-height: 1.5;
}

.lineup_txt1 h4 {
  margin: 10px 0;
}

.lineup_txt1 p {
  margin: 10px 0;
}

.lineup_txt1 strong {
  margin: 10px 0;
}

.lineup_img2 {
  background: url(img/menu2.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.lineup_txt2 {
  line-height: 1.5;
}

.lineup_txt2 h4 {
  margin: 10px 0;
}

.lineup_txt2 p {
  margin: 10px 0;
}

.lineup_txt2 strong {
  margin: 10px 0;
}

.lineup_img3 {
  background: url(img/menu3.jpg) no-repeat left;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.lineup_txt3 {
  line-height: 1.5;
}

.lineup_txt3 h4 {
  margin: 10px 0;
}

.lineup_txt3 p {
  margin: 10px 0;
}

.lineup_txt3 strong {
  margin: 10px 0;
}

#news {
  margin-bottom: 100px;
}

.news_wrap {
  max-width: 450px;
  margin: 0 auto;
}

.news_wrap p {
  line-height: 2.2;
}

#setmenu {
  margin-bottom: 100px;
}

table {
  width: 50%;
  margin: 0 auto;
  border: double 4px tomato;
}

th {
  border: solid 1px tomato;
  width: 33%;
  padding: 10px 0;
}

td {
  border: solid 1px tomato;
  width: 33%;
  padding: 10px 0; 
}

tr {
  text-align: center;
}


label {
  display: inline-block;
  width: 20%;
  line-height: 2; 
  text-align: end; 
}

input,textarea {
  box-sizing: border-box;
  width: 65%;
  margin-bottom: 15px;
  vertical-align: top;
}

input {
  height: 30px;
}

.btn_submit {
  text-align: center;
  margin: 50px;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: gray;
  border-style: none;
}

footer {
  background-color: tomato;
  padding: 30px;
  text-align: center;
  color: white;
}
